.coin-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .coin-info img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .coin-info h3 {
    margin-left: auto;
    color: #333;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .coin-info {
      flex-direction: column;
      align-items: center;
    }
  
    .coin-info img {
      margin-bottom: 10px;
    }
  }
  