/* App.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.whole-page {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  padding: 20px;
  min-height: 100vh;
}

.whole-page h1 {
  color: #333;
  text-align: center;
}

input[type="text"] {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Make the input rounder */
  width: 300px; /* Fixed width for better alignment */
}

.dashboard {
  display: grid;
  background-color: yellow;
  margin-left: 25%;
}

nav {
  position: fixed; 
  top: 0; 
  right: 0; 
}

.home-link 
{
  border:1px dotted white;
  background:#1d1f1d;
  width:75px;
}

/* Adjusting the layout for devices with a width of less than 768px */
@media (max-width: 768px) {
  .sidenav,
  .dashboard {
    width: 100%; /* Full width */
    margin-left: 0; /* Remove margin */
  }

  /* Optional: Hide sidebar on very small screens */
  @media (max-width: 480px) {
    .sidenav {
      width: 0; /* Hide sidebar */
    }
    
    .main-content {
      margin-left: 0; /* Expand main content to full width */
    }
  }
}