/* App.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.whole-page {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  padding: 20px;
  min-height: 100vh;
}

.whole-page h1 {
  color: #333;
  text-align: center;
}

input[type="text"] {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Make the input rounder */
  width: 300px; /* Fixed width for better alignment */
}

.coin-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.coin-info img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.coin-info h3 {
  margin-left: auto;
  color: #333;
}

/* Responsiveness */
@media (max-width: 768px) {
  .coin-info {
    flex-direction: column;
    align-items: center;
  }

  .coin-info img {
    margin-bottom: 10px;
  }
}